<div class="gallery-picker">
  <mat-expansion-panel [expanded]="showChecklist">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="gallery-picker-icon" (click)="toggleChecklist()">
          <mat-icon>place</mat-icon>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="gallery-picker-container">
      <h3>Choose Gallery:</h3>
      <div class="gallery-checkbox-container">
        <div *ngFor="let gallery of galleryItems; let i = index">
          <mat-checkbox [(ngModel)]="gallery.checked" [name]="gallery.name" (change)="displayGalleries()">
            {{ gallery.name }}
          </mat-checkbox>
        </div>
      </div>
      <div class="button-container">
        <button mat-button (click)="showAll()" class="action-button">Mark all</button>
        <button mat-button (click)="hideAll()" class="action-button">Unmark all</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
